* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh; /* the vh unit is from youtube and 100vh is equivelant to 100% */
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.navbar {
  height: 75px;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  cursor: pointer;
}
nav {
  flex: 1;
  text-align: right;
}

nav ul li a {
  color: black;
  font-size: 13px;

  padding: 10px;
}

.log {
  background-color: blue;
  border: 1px solid transparent;
  padding: 10px;
  list-style: none;
  justify-content: center;
  color: white;
  border-radius: 50px; /*  youtube*/
}

.bb {
  text-align: center;
}
.head {
  background-color: rgb(122, 201, 122);
  text-align: center;
}

.gallery {
  border: 1px solid blue;
  margin: 5px;
  float: left;
}

.gallery:hover {
  opacity: 0.5;
}
.desc {
  background-color: blue;
  text-align: center;
  padding: 15px;
  margin-top: 10px;

  color: white;
}
footer {
  position: relative;
  width: 100%;
  background-color: rgb(5, 5, 253);
  padding: 20px 50px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  justify-items: center;
  padding: 15px;
  list-style: none;
}
.social_media li {
  margin: 0 10px;
}
.social_media li a {
  font-size: 2em;
  color: wheat;
  display: inline-block;
  transition: 0.5s;
}
.social_media li a:hover {
  transform: translateY(-10px);
}
.footer_heading {
  text-align: center;
  color: white;
  float: center;
  position: fixed;
  flex: 1;
}
.graphics {
  text-align: center;
  color: white;
}
.contact {
  background-color: rgb(67, 211, 103);
  color: white;
  margin-top: 15px;
  width: auto;
}

.infoo {
  font-size: 16px;
  color: #048b9e !important;
}

.infoo > a {
  color: #048b9e !important;
}

.whole-con {
  display: flex;
}

.contact-title {
  color: #048b9e !important;
  margin: 40px 0px;
}

.contact-thank {
  margin: 100px 0;
  color: #048b9e !important;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.submit-cont,
.reset-cont {
  background-color: #8bc33e !important;
  border: 0 !important;
}

.contact-con {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
